hyprland
waybar
networkmanager
network-manager-applet
wofi
pamixer
brightnessctl
pulseaudio
pavucontrol
xdg-desktop-portal
xdg-desktop-portal-hyprland
polkit
polkit-gnome
swaybg
pywal
mako
grim
slurp
ttf-jetbrains-mono-nerd
thunar
firefox
hyprsunset
kitty
alacritty
